.x{
    height:350px;
    width: 100%;
    border:2px grey groove;
    
    background-color: rgb(24, 182, 24);
 
}
.E{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
 
 
  .w{
    color: white;
    font-size: 37px;
    text-align: center;
  }
.r{
    height: 200px;
    width: 100%;
    border:2px grey groove;
     
}

     
.m{
    height:500px;
    width: 50%;
    border:2px grey groove; }
  .lo{
    margin: 10px;
  }
 .loo{
    margin: 10px;
 }

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 50px;
    border: 2px black solid;
    width:100%;
}
     
 